* {
    background: black;
    color: white;
    font-size: 32px;
}

.pos-fix {
    min-height: 200vh;
}

.adv-flex {
    min-height: 67vh;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: end;
}

.adv1 {
    min-width: 50vw;
    min-height: 100px;
    background: gray;
    margin: 0 50px 100px 50vw;
    border-radius: 30px;
    position: fixed;
}
.adv2 {
    min-width: 100px;
    min-height: 100px;
    background: rgb(167, 16, 16);
    margin: 0 50px 100px 50vw;
    border-radius: 100px;
    position: fixed;
    right: 600px;
    bottom: 50px;
}