.footer {
    background: #AB8261;
}

.footer__inner {
    padding: 30px 0 60px;
    display: flex;
    gap: 56px;
    color: var(--accent-text);
    font-size: 16px;
}

.footer-logo img {
    max-width: 241px;
    width: 100%;

}

.footer__logo-socials p {
    display: block;
}

.socials {
    padding-top: 20px;
}

.socials__list {
    display: flex;
    gap: 15px;
}

.social__icon path {
    transition: 0.4s;
}

.social__icon:hover path {
    fill: var(--accent-color);
}

.footer__general-info {
    display: flex;
    padding-top: 30px;
}

.nav-footer {
    margin-right: 146px;
    max-width: 182px;
    width: 100%;
}

.nav-footer__list {
    flex-direction: column;
    display: flex;
    gap: 20px;
}

.nav-footer__link {
    padding: 5px 0;
    position: relative;
    z-index: 2;
}

.nav-footer__link::before {
    content: '';
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    position: absolute;
    top: -13px;
    left: -13px;
    border-radius: 50%;
    z-index: -1;
    transition: 0.4s;
    opacity: 0;
}

.nav-footer__link:hover::before {
    opacity: 1;
}

.signboard {
    width: 100%;
    max-width: 273px;
    min-width: 188.5px;
    margin-right: 131px;
    color: var(--accent-text);
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.signboard__time-info,
.signboard__location-info {
    display: flex;
    align-items: start;
}

.signboard__time-info span {
    margin: 0 5px;
}

.signboard__time-info img,
.signboard__location-info img {
    margin-right: 8px;
}

.contact-info {
    width: 100%;
    max-width: 220px;
    min-width: 216.55px;
    display: flex;
    flex-direction: column;
}

.contact-info span,
.contact-info p {
    display: block;
}

.contact-info p {
    align-self: flex-end;
}

.tel {
    font-size: 24px;
    f
    font-weight: 500;
    line-height: 29px;
}

.copyright {
    margin-top: 47px;
    display: flex;
    gap: 5px;
    color: #dec5b1;

}