@import "fonts.css";
@import "reset.css";
@import "global.css";
@import "header.css";
@import "footer.css";

/* =========================================================================== */

.main {}

.main__bake-school-info {
    padding: 140px 0;
}

.bake-school-info__inner {
    display: flex;
    gap: 53px;
}

.bake-school-info__gift {
    position: relative;
}

.bake-school-info__gift>img {
    width: 100%;
    border-radius: 20px;
}

.gift-content {
    max-width: 299px;
    position: absolute;
    left: 5%;
    bottom: 4.6%;
    padding: 15px 20px;
    display: flex;
    color: var(--accent-text);
    gap: 10px;
    background: #957b97e6;
    border-radius: 20px;
}

.button-gift {
    display: flex;
    position: relative;
    width: 78px;
    height: 78px;
    background: var(--accent-text);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.button-gift img {
    width: 33px;
}

.button-gift::before {
    content: '';
    position: absolute;
    opacity: 0;
    border: 1px solid #CEAAD0;
    width: 87%;
    height: 87%;
    border-radius: 50%;
    transition: 0.4s;
}

.button-gift:hover::before {
    opacity: 1;
}

.bake-school-info__description {
    max-width: 624px;
}

.bake-school-info__description h2 {
    color: var(--title-text);

}

.bake-school-info__description>p {
    display: inline-block;
}

.description-text {
    margin-bottom: 40px;
}

.description-text>span {
    display: block;
    margin-top: 30px;
}

.cards-block {
    max-height: 292px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.card {
    max-width: 296px;
    padding: 29px 23.5px 29px 24.5px;
    display: flex;
    align-items: center;
    gap: 15px;
    background: var(--accent-bg);
    border-radius: 20px;
}

.card p {
    max-width: 173px;
}

.bake-hat {
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid var(--general-text);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ========================================================================================= */
.main__programm {
    padding-bottom: 145px;
}

.programm {}

.programm__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    gap: 15px;
}

.programm__heading {}

.programm__title {
    margin-bottom: 20px;
}

.programm__text {}

/* ======================================================================Аккордион====================================================================== */
.tab-controls {
    display: flex;
    gap: 26px;
}

.tab-controls__item {}

.tab-controls__link {
    display: block;
    background-color: var(--accent-text);
    border-radius: 100px;
    padding: 14px 30px;
    box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0.3);
    white-space: nowrap;

    transition: 0.4s;
}

.tab-controls__link:hover {
    background-color: #FFE0CB;
}

.tab-controls__link--active {
    background-color: #FFE0CB;
    box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0);
}

.tab-content {
    display: none;
}

.tab-content--show {
    display: block;
}

.accordion-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.accordion-list__item {
    border: 1px solid var(--accent-color);
    border-radius: 20px;
}

.accordion-list__item--opened {}

.accordion-list__control {
    padding: 41px 30px;
    width: 100%;
    background-color: transparent;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-list__control-icon {
    border: 1.5px solid var(--accent-color);
    border-radius: 100px;
    width: 36px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    transition: 0.4s;
}

.accordion-list__control-icon path {
    transition: 0.4s;
}

.accordion-list__control:hover .accordion-list__control-icon {
    background-color: var(--accent-color);
    transform: rotate(90deg);
}

.accordion-list__control:hover .accordion-list__control-icon path {
    fill: var(--accent-text);
}

.accordion-list__item--opened .accordion-list__control-icon {
    background-color: var(--accent-color);
    transform: rotate(90deg);
}

.accordion-list__item--opened .accordion-list__control-icon path {
    fill: var(--accent-text);
}



.accordion-list__control-title {
    text-align: left;
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
}



.accordion-content {
    padding: 0px 30px 40px;

    display: flex;
    gap: 80px;
}

.accordion-content__col:first-child {
    max-width: 507px;
    width: 100%;
}

.accordion-content__col {}

.accordion-content__title {
    color: #CEAAD0;
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 20px;
}

.accordion-content__list {}

.accordion-content__item {
    margin-bottom: 20px;
    display: flex;
}

.accordion-content__item:last-child {
    margin-bottom: 0;
}

.accordion-content__icon {
    border: 1px solid #CEAAD0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
    flex-shrink: 0;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.accordion-content__text {
    max-width: 274px;
}

/* =========================================================================================================================================== */
.programm__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding-top: 40px;
}

.program__action {
    display: grid;
    grid-template: repeat(3, auto) / 1.65fr 1fr;
    gap: 40px;
    max-width: 501px;
    flex-shrink: 0;
}

.program__discount {
    font-size: 20px;
    background: var(--accent-bg);
    border-radius: 20px;
    padding: 40px;
    grid-row: 1 / 3;
}

.program__discount-value {
    font-family: "Gabriola";
    font-size: 74px;
    line-height: .82;
    color: var(--accent-color);
    transform-origin: 0 0;
    margin: 0 0 7px 13%;

    animation: discount-grow .8s linear infinite alternate;
}

@keyframes discount-grow {
    0% {
        transform: scale(1);
        color: var(--accent-color);
    }

    100% {
        transform: translateX(3%) scale(1.1);
        color: #FF9138;
    }
}

.program__discount span {
    font-size: 16px;
    margin-left: 35%;
}

.program__price {}

.program__price-text {
    line-height: 1.6;
    text-transform: uppercase;
    color: #CEAAD0;
    margin-bottom: 5px;
}

.program__price-value {
    font-family: 'Gabriola';
    font-size: 32px;
    line-height: .9;
}

.program__price-value--big {
    font-size: 50px;
    color: var(--general-text);
}

.programm__button {
    grid-column: 1 / -1;
    padding: 18px 36px;
}

.programm__img {
    width: 100%;
    min-width: 200px;
}

/* ================================================================================================================== */
.main__gallery {
    padding-bottom: 140px;
}

.gallery {}

.gallery__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 40px;
}

.gallery__img {
    justify-self: center;
    align-self: center;
}

.gallery__img img {
    max-width: 100%;
}

.gallery__content {
    display: flex;
    gap: 15px;
    align-items: end;
    justify-content: space-between;

}

.gallery__info {
    max-width: 380px;
}

.gallery__title {
    margin-bottom: 20px;
}

.gallery__text {}

.gallery__nav {
    display: flex;
    gap: 98px;
    align-items: center;
    position: relative;

    font-family: 'Gabriola';
    font-size: 42px;
    line-height: 0.9;
}

.gallery__prev {}


.gallery__next {}

.gallery__next,
.gallery__prev {
    display: block;
    background-color: transparent;
    cursor: pointer;
    border: 1.5px solid var(--accent-color);
    border-radius: 100px;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: 0.4s;
}

.swiper-button-disabled.gallery__next,
.swiper-button-disabled.gallery__prev {
    border: 1.5px solid #e1d9e1;
    cursor: auto;
}
.swiper-button-disabled.gallery__next:hover,
.swiper-button-disabled.gallery__prev:hover {
    background-color: transparent;
}
.swiper-button-disabled.gallery__next path,
.swiper-button-disabled.gallery__prev path {
    fill: #e1d9e1;
}
.swiper-button-disabled.gallery__next:hover path,
.swiper-button-disabled.gallery__prev:hover path {
    fill: #e1d9e1;
}
.gallery__next:hover ,
.gallery__prev:hover {
    background-color: var(--accent-color);
}
.gallery__next path,
.gallery__prev path {
    transition: 0.4s;
}

.gallery__next:hover path ,
.gallery__prev:hover path {
    fill: var(--accent-text);
}
.gallery__pagination {
    display: flex;
    position: absolute;
    bottom: auto;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery__slider {}

.gallery__wrapper {}

.gallery__slide img {
    border-radius: 20px;
    width: 100%;
    
}

















/* ========================================================================================================================== */
@media (max-width: 1300px) {
    .bake-school-info__inner {
        gap: 112px;
    }

    .bake-school-info__gift {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .bake-school-info__gift>img {
        max-width: 393px;
        max-height: 354px;
    }

    .gift-content {
        position: static;
    }
}

@media (max-width: 1200px) {
    .hero__preview {
        margin: 0;
        max-width: 377px;
    }

    .hero__preview-content {
        position: static;
        max-width: none;
        margin-top: 30px;
    }

    .programm__top {
        flex-direction: column;
        align-items: stretch;
        gap: 40px;

    }

    .tab-controls {
        flex-wrap: wrap;
    }
}

@media (max-width: 1100px) {
    .bake-school-info__inner {
        flex-direction: column;
        align-items: center;
        gap: 36px;
    }

    .cards-block {
        max-height: none;
    }

    .accordion-list__control {
        padding: 25px 30px;
        font-size: 35px;
    }
}

@media (max-width: 1000px) {

    .footer__inner {
        gap: 8px;
        justify-content: space-between;
    }

    .footer__logo-socials {
        text-align: center;

    }

    .socials__list {
        justify-content: center;
        gap: 30px;
    }

    .nav-footer,
    .signboard {
        margin: 0;
    }

    .nav-footer__list {
        max-width: 96.8px;
    }

    .tel {
        font-size: 18px;
        text-align: end;
    }

    .signboard {
        margin: 0 6px;
        min-width: 273px;
    }
}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        background: whitesmoke;
        inset: 0;
        z-index: 5;
        padding: 160px 15px 30px;
        font-size: 24px;

        opacity: 0;
        visibility: hidden;
        transform: translateY(-50%);
        transition: 0.5s;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .burger-icon {
        display: flex;
    }

    .programm__img {
        display: none;
    }

    .programm__bottom {
        justify-content: center;
    }
    .gallery__inner {
        grid-template: none;
    }
    .gallery__img {
        display: none;
    }
    .gallery__info {
        max-width: none;
    }
}

@media (max-width: 800px) {
    .hero__inner {
        flex-direction: column;
        align-items: center;
    }

    .hero__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero__title {
        text-align: center;
    }

    .hero__text {
        text-align: center;
    }

    .hero__button {
        width: 100%;
    }

    .hero__preview {
        width: 100%;
        max-width: 519px;
        display: flex;
        justify-content: center;
    }

    .hero__preview p {
        max-width: 260px;
    }

    .hero__preview>img {
        display: none;
    }

    .footer__inner {
        flex-direction: column;
        gap: 5px;
        padding-bottom: 20px;
    }

    .socials__list {
        gap: 15px;
    }

    .footer__general-info {
        padding-top: 10px;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .nav-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: none;
    }

    .nav-footer__list {
        gap: 15px;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        max-width: none;
    }

    .signboard__time-info {
        justify-content: center;
    }

    .tel {
        text-align: center;
    }

    .tab-controls {
        gap: 10px;
    }

    .tab-controls__link {
        padding: 6px 20px;
    }

    .accordion-content {
        flex-direction: column;
        gap: 20px;
        padding: 0 20px 30px 20px;
    }

    .accordion-content__col {
        max-width: none;
        width: 100%;
    }

    .accordion-content__text {
        max-width: none;
    }
}

@media (max-width: 660px) {
    .main {
        padding: 70px 0px;
    }

    .bake-school-info__description {
        text-align: center;
    }

    .cards-block {
        justify-content: center;
        gap: 12px;
    }

    .card {
        width: 45vw;
        height: 22vw;
        justify-content: center;
        padding: 5px;
        text-align: center;
    }

    .bake-hat {
        width: 9vw;
        height: 9vw;
    }

    .programm__title {
        text-align: center;
    }

    .programm__text {
        text-align: center;
    }

    .tab-controls {
        justify-content: center;
    }

    .accordion-list {
        gap: 10px;
    }

    .accordion-list__control {
        padding: 17px 30px;
        gap: 10px;
    }

    .accordion-list__control-title {
        font-size: 28px;
    }

    .accordion-list__control-icon {
        width: 26px;
        height: 26px;
    }
    .gallery__content {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 550px) {
    .hero {
        padding-bottom: 80px;
    }

    .hero__title {
        font-size: 13vw;
    }

    .card {
        font-size: 2.9vw;
        gap: 5px;
        padding: 15px;
    }

    .bake-hat {
        min-width: 9vw;

    }

    .program__action {
        grid-template: repeat(3, auto) / auto auto;
        gap: 15px;
        flex-shrink: 1;
    }

    .program__discount {
        grid-row: auto;
        grid-column: 1/-1;
        justify-self: center;
    }
}

@media (max-width: 520px) {
    .gift-content {
        width: 60vw;
        align-items: center;
        font-size: 3vw;
        padding: 8px;
    }

    .button-gift {
        width: 15vw;
        height: 15vw;
    }

    .cards-block {
        flex-direction: column;
    }

    .card {
        font-size: 16px;
        justify-content: start;
        max-width: 100vw;
        width: 100vw;
        height: 12vh;
        text-align: left;
    }

    .bake-hat {
        min-width: 45px;
        min-height: 45px;
    }

    .card p {
        max-width: none;
    }
}

@media (max-width: 450px) {
    .modal__window {
        margin: 0px 15px;
        padding: 133px 30px 0;
    }

    .accordion-list__control {
        padding: 17px 15px;
        gap: 10px;
    }

    .program__action {
        grid-template: none;
    }

    .program__price {
        text-align: center;
    }
    .gallery__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .gallery__slide img{
        width: 60%;
    }
}

@media (max-width: 400px) {
    .modal__window {
        padding: 133px 20px 0;
    }

    .programm__top {
        margin-bottom: 15px;
    }
}

@media (max-width: 375px) {
    .footer__inner {
        font-size: 4vw;
    }

    .modal__window {
        text-align: center;
    }

    .modal__img {
        width: 207px;
        transform: translateY(-183px);
    }

    .modal__cancel {
        top: 100px;
    }

    .gift-content {
        font-size: 11px;
    }
    .gallery__title {
        font-size: 52px;
    }
}